* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: 'Open Sans';
  color: aliceblue;
  font-size: 62.5%; /* 1rem = 10px */
  --meio-corpo: #0a0a0a;
  --bg: #ab9e6e;
  --dark-mode: #f31010;
  --light-mode: #fefffe;
}

.wrapper {
  width: 90rem;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--meio-corpo);
}
#dark {
  background-color: var(--meio-corpo);
}
#light {
  background-color: var(--light-mode);
}
.grid {
  display: grid;
  grid-template-columns: 1fr 210px 1fr;
}
.meio {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  font-size: 12px;
  background-color: var(--bg);
}
.paragrafomeio {
  padding: 5px 5px 40px 20px;
}
.experiencia,
.educacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  margin-top: 260px;
  font-size: 10px;
}
.titulopontilhado {
  border-top: dotted;
  border-bottom: dotted;
  padding: 7px 20px;
  border-width: 1px;
}
.pontilhadobottom {
  border-bottom: dotted;
  padding: 0 0 20px 0;
  border-width: 1px;
}
.pontilhadoend {
  border-top: dotted;
  padding: 20px 0 0 0;
  border-width: 1px;
}
.cardtexto {
  display: flex;
  justify-content: right;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;
}
.cardeducacao {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.experiencia h3 {
  margin: 40px 0 10px 100px;
}
.experiencia h4 {
  margin: 0 0 0 100px;
}
.experiencia p {
  margin: 0 0 0 100px;
}

.educacao h3 {
  margin: 40px 100px 10px 0px;
}
.educacao h4 {
  margin: 0 100px 0 0;
}
.educacao p {
  margin: 0 100px 0 0;
}
.cargo {
  margin-bottom: 10px;
}

ul li {
  list-style: none;
}
.listaesquerda img {
  height: 10px;
  margin-left: 10px;
}
.listaesquerda {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: flex-end;
}
.listadireita {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: flex-start;
}
.listadireita li img {
  height: 10px;
  margin-right: 10px;
}
.item {
  margin-bottom: 5px;
}

header {
  display: flex;
  justify-content: center;
}

.background {
  width: 90rem;
  position: absolute;
}

img.foto-cv {
  position: absolute;
  z-index: 1;
  margin: 30px 576.5px auto auto;
  height: 215px;
  width: 200px;
}
img.foto-cv:hover {
  transform: scale(1.1);
  transition: 500ms;
}
.avatar {
  height: 100px;
}

article {
  height: 300px;
  padding: 20px 10px;
  width: 360px;
  border-color: var(--bg);
  border-width: 1px;
  box-shadow: 0 0 40px var(--bg);
  margin-bottom: 100px;
}
.reviewtitle {
  padding: 100px 0 50px 0;
}

.paragraforevie {
  margin-bottom: 7px;
}
.reviewdiv,
article,
.paragraforeview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.paragraforeview {
  padding: 5px 30px;
}
.next-btn,
.prev-btn {
  background: none;
  border: none;
  margin-left: 20px;
}

button img.btn {
  height: 17px;
}
.nomecv {
  margin-top: 240px;
}
